<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imperium.power.nfcmango">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/pokeball_all_green"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pokeball_all_green"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".NFCScreen$TimerService"
            android:exported="false" />

        <activity
            android:name=".HomeScreen"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NFCScreen"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name=".BarcodeCaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".CaughtList"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".PikachuDetails"
            android:label="Pikablaz"
            android:parentActivityName=".CaughtList"
            android:screenOrientation="portrait">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CaughtList" />
        </activity>
        <activity
            android:name=".BulbasaurDetails"
            android:label="Matthiasaur"
            android:parentActivityName=".CaughtList"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CaughtList" />
        </activity>
        <activity
            android:name=".MewtwoDetails"
            android:label="Mewpert"
            android:parentActivityName=".CaughtList"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CaughtList" />
        </activity>
        <activity
            android:name=".SquirtleDetails"
            android:label="Squidan"
            android:parentActivityName=".CaughtList"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CaughtList" />
        </activity>
        <activity
            android:name=".MrMimeDetails"
            android:label="Mr Malain"
            android:parentActivityName=".CaughtList"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CaughtList" />
        </activity>
        <activity
            android:name=".MeowthDetails"
            android:label="Meowssi"
            android:parentActivityName=".CaughtList"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CaughtList" />
        </activity>
        <activity
            android:name=".PidgeyDetails"
            android:label="Pidguca"
            android:parentActivityName=".CaughtList"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CaughtList" />
        </activity>
        <activity
            android:name=".FlareonDetails"
            android:label="Flarlos"
            android:parentActivityName=".CaughtList"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CaughtList" />
        </activity>
        <activity
            android:name=".ChanseyDetails"
            android:label="Chaso"
            android:parentActivityName=".CaughtList"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CaughtList" />
        </activity>
        <activity
            android:name=".EeveeDetails"
            android:label="Lilevee"
            android:parentActivityName=".CaughtList"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CaughtList" />
        </activity>
        <activity
            android:name=".JolteonDetails"
            android:label="Joltelo"
            android:parentActivityName=".CaughtList"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CaughtList" />
        </activity>
        <activity
            android:name=".JigglypuffDetails"
            android:label="Jigglywill"
            android:parentActivityName=".CaughtList"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CaughtList" />
        </activity>
        <activity
            android:name=".OnixDetails"
            android:label="Jurix"
            android:parentActivityName=".CaughtList"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CaughtList" />
        </activity>
        <activity
            android:name=".SlowpokeDetails"
            android:label="Joaqpoke"
            android:parentActivityName=".CaughtList"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CaughtList" />
        </activity>
        <activity
            android:name=".CuboneDetails"
            android:label="Curich"
            android:parentActivityName=".CaughtList"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CaughtList" />
        </activity>
        <activity
            android:name=".VaporeonDetails"
            android:label="Vapagustin"
            android:parentActivityName=".CaughtList"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CaughtList" />
        </activity>
        <activity
            android:name=".AbraDetails"
            android:label="Thomabra"
            android:parentActivityName=".CaughtList"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CaughtList" />
        </activity>
        <activity
            android:name=".CharmanderDetails"
            android:label="Charmichael"
            android:parentActivityName=".CaughtList"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CaughtList" />
        </activity>
        <activity android:name=".LeaderboardView"
            android:label="Leaderboard"
            android:parentActivityName=".NFCScreen"
            android:screenOrientation="portrait">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NFCScreen" />
        </activity>
    </application>

</manifest>