<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imperium.power.nfcmango">
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/pokeball_all_green"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pokeball_all_green"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name=".NFCScreen"
            android:parentActivityName=".HomeScreen">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen" />
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>




        <activity
            android:name=".CaughtList"
            android:parentActivityName=".NFCScreen">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NFCScreen" />
        </activity>
        <activity android:name=".PikachuDetails"
            android:label="Pikachu"
            android:parentActivityName=".CaughtList">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CaughtList" />>
        </activity>
        <activity android:name=".BulbasaurDetails"
            android:label="Bulbasaur"
            android:parentActivityName=".CaughtList">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CaughtList" />>
        </activity>
        <activity android:name=".DragoniteDetails"
            android:label="Dragonite"
            android:parentActivityName=".CaughtList">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CaughtList" />>
        </activity>
        <activity android:name=".SeadraDetails"
            android:label="Seadra"
            android:parentActivityName=".CaughtList">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CaughtList" />>
        </activity>
        <activity android:name=".OddishDetails"
            android:label="Oddish"
            android:parentActivityName=".CaughtList">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CaughtList" />>
        </activity>
        <activity android:name=".VulpixDetails"
            android:label="Vulpix"
            android:parentActivityName=".CaughtList">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CaughtList" />>
        </activity>
    </application>
</manifest>